.space {
  // background-color: red;
  height: 20px;
  width: 100vw;
}

.content-area{
  background-color: green;
  // height: 100vh;
  width: 100vw;
  padding: 0 0 100px 0;

  & .content-list {
      background-color: yellow;
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      & .item {
        margin: 30px 0 0 0;
        width: 50vw;

        & .text {
          font-size: 18px;
        }

        & .bold {
          font-weight: bold;
        }

        & .answer-btn {
          margin: 10px 0;
        }
      }

      & .story-area {
        display: none;
      }

      & .picture-area {
        background-color: blue;
        height: 200px;
        width: 25vw;
      }

  }
  
  // & .content-list {
  //   padding: 0;
  //   // margin: auto;
  //   width: 80%;
  //   display: grid;
  //   // grid-template-columns: 1fr 1fr 1fr;
  //   // grid-template-rows: 1fr 1fr;
  //   gap: 30px;
    
  //   // & .content {
  //   //   background-color: rgb(165, 206, 252);
  //   //   height: 100%;
  //   //   width: 100%;
  //   //   text-align: center;
  //   //   vertical-align: middle;
  //   //   line-height: 25vh;
  //   //   font-size: 22px;
  //   //   border: 2px solid saturate($color: #b8b7d4, $amount: 0);
  //   //   border-radius: 65px;
  //   //   box-shadow: 2px 3px 12px black;
      
  //   //   &:hover {
  //   //     cursor: pointer;
  //   //   }
  //   // }
  // }

  & .logout-area {
    // background-color: red;
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;
    width: 80%;

    & .logout {
      font-size: 18px;
      color: blue;

      &:hover {
        color: gray;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

