.header {
  background-color: rgb(255, 119, 0);
  height: 4em;
  width: 100vw;
  display: flex;

  & .logo-area {
    // background-color: purple;
    height: 100%;
    width: 50%;;
    display: flex;
    justify-content: flex-start;

    & .logo {
      // background-color: white;
      border: 2px solid black;
      height: 51px;
      width: 71px;
      // height: 80%;
      // width: 10%;
      margin: 5px 0 5px 40px;

      &:hover{
        cursor: pointer;
      }
    }
  }

  & .button-area {
    // background-color: orange;
    height: 100%;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    & .btn {
      height: 80%;
      margin: 1% 1em;
      font-size: 15px;
      border-radius: 5px;

      &:hover{
        cursor: pointer;
      }
    }

    & .logout {
      margin-right: 0;
    }
  }
}

.space {
  // background-color: red;
  height: 20px;
  width: 100vw;
  
}

.content-area{
  // background-color: green;
  width: 100vw;
  padding: 0 0 100px 0;
  
  & .content-list {
    // background-color: yellow;
    padding: 0;
    margin: auto;
    width: 80%;
    list-style-type: none;
    
    & .content {
      // background-color: rgb(165, 206, 252);
      height: 100%;
      width: 100%;
      margin-bottom: 100px;
      text-align: center;
      vertical-align: middle;
      font-size: 22px;
      border: 2px solid saturate($color: #b8b7d4, $amount: 0);
      border-radius: 15px;
      
      &:hover {
        cursor: pointer;
      }

      & .qestion {
        margin: 15px 0;
      }

      &.answer_request {
        margin: 10px 0;
      }

      & .answer {
        // background-color: red;
        margin: 5px 0 15px 0;
        display: none;
      }

      & .show-answer {
        display: block;
      }
    }
  }

  & .logout-area {
    // background-color: red;
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;
    width: 80%;

    & .logout {
      font-size: 18px;
      color: blue;

      &:hover {
        color: gray;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

