.space {
  // background-color: red;
  height: 20px;
  width: 100vw;
  
}

.content-area{
  // background-color: green;
  height: 100vh;
  width: 100vw;
  
  & .content-list {
    // background-color: yellow;
    padding: 0;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    list-style-type: none;
    
    & .item {
      display: block;
      background-color: rgb(165, 206, 252);
      height: 100%;
      width: 100%;
      text-align: center;
      line-height: 25vh;
      font-size: 22px;
      border: 2px solid saturate($color: #b8b7d4, $amount: 0);
      border-radius: 65px;
      box-shadow: 2px 3px 12px black;
      text-decoration: none;
      
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

}

