body {
  background-color: rgb(237 214 243);

  & .content-area{
    display: flex;
    justify-content: center;
    // background-color: green;
    width: 100vw;
    padding: 0 0 100px 0;
  
    & .content-list {
      // background-color: yellow;
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;  

      & .item {
        margin: 30px 0 0 0;
        width: 50vw;
        
        & .text {
          font-size: 20px;
        }

        & .q-text {
          display: flex;
          flex-direction: column;

          & .input-text {
            font-size: 20px;
            margin: 5px;
            border-radius: 10px;
            height: 2em;
          }
        }


        & .answer-btn {
          display: flex;
          justify-content: center;
          margin: 10px 0;
          
          & #a-btn {
            height: 3rem;
            width: 5rem;
            font-size: 1.4rem;
            border-radius: 15px;
          }
          
        }
      }

      & .story-area {display: none;}

      & .picture-area {
        display: flex;
        justify-content: center;
        // background-color: blue;
        width: 15vw;

        & .picture {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          & .img {
            height: 15vh;
            width: 15vh;
            animation: Rotate 3s ease-in-out infinite;
          }
        }
      }  
    }
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

