.content-area{
  // background-color: green;
  // height: 100vh;
  width: 80vw;
  margin: 30px auto;
  border: solid 2px black;

  & .explanation {
    // background-color: blue;
    text-align: center;
    font-size: 30px;
    padding: 30px 0 0 0;

  }

  & .content-list {
      // background-color: yellow;
      list-style-type: none;
      margin: 0;
      padding: 0;

      & .content {
        margin: 60px 0;
        font-size: 25px;
      }

        & .story-list {
          // background-color: pink;
          width: 100%;
          list-style-type: none;
          display: flex;
          justify-content: space-evenly;
          padding: 0;

          & .select:hover {
                color: blue;
                transform: translate(0px, -10px);
                transition: all 150ms ease-in;
          }

          & .story-btn {
            text-decoration: none;
            color: black;
            border: solid 2px black;
            border-radius: 40px;
            padding: 20px 40px;

            &:hover {
              background-color: #bbf4ff;
              box-shadow: 0px 2px 5px gray;
              transition: all 150ms ease-in;
            }
          }
          
          & .momotaro-btn {
            background-color: pink;
          }

          & .urashima-btn {
            background-color: aqua;
          }

          & .kaguya-btn {
            background-color: lightgreen;
          }

          & .cinderella-btn {
            background-color: whitesmoke;
          }

        }




  }
  
  // & .content-list {
  //   padding: 0;
  //   // margin: auto;
  //   width: 80%;
  //   display: grid;
  //   // grid-template-columns: 1fr 1fr 1fr;
  //   // grid-template-rows: 1fr 1fr;
  //   gap: 30px;
    
  //   // & .content {
  //   //   background-color: rgb(165, 206, 252);
  //   //   height: 100%;
  //   //   width: 100%;
  //   //   text-align: center;
  //   //   vertical-align: middle;
  //   //   line-height: 25vh;
  //   //   font-size: 22px;
  //   //   border: 2px solid saturate($color: #b8b7d4, $amount: 0);
  //   //   border-radius: 65px;
  //   //   box-shadow: 2px 3px 12px black;
      
  //   //   &:hover {
  //   //     cursor: pointer;
  //   //   }
  //   // }
  // }

  & .logout-area {
    // background-color: red;
    display: flex;
    justify-content: flex-end;
    margin: 50px auto;
    width: 80%;

    & .logout {
      font-size: 18px;
      color: blue;

      &:hover {
        color: gray;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}