.container {
  /* ------以下、画面全体----- */

  height: 100vh;
  width: 100vw;

  /* ------以下、アプリ本体----- */

  .main {

    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: rgb(208 193 193);

    .btn_area {
      display: flex;
      padding: auto;
      padding: 20px;
      justify-content: center;
      
      .neXt_page_btn {
        width: 200px;
        height: 40px;
        font-size: 18px;
        border: 2px solid #7cc5b7;
        color: #1c51e1;
        cursor: pointer;
        box-shadow: 0px 5px grey;

        &:active {
          transform: translateY(5px);
          box-shadow: none;
        }

        .neXt_page_link {
          text-decoration: none;
        }
      }
    }
  }
}





