@charset "UTF-8";
.container {
  /* ------以下、画面全体----- */
  height: 100vh;
  width: 100vw;
  /* ------以下、アプリ本体----- */
}
.container .main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgb(208, 193, 193);
  position: relative;
}
.container .main .option {
  width: 33.333%;
  border: 2px solid black;
}
.container .main .option .moji {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}
.container .main .option .base_rule {
  text-align: center;
}
.container .main .option .base_rule .pulldown {
  width: 70px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.container .main .option .base_rule .menber_select::after {
  content: "人";
}
.container .main .option .base_rule .time_select::after {
  content: "分";
}
.container .main .option .list_area {
  display: flex;
  justify-content: center;
}
.container .main .option .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container .main .option .list .item {
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px grey;
}
.container .main .option .list .item:active {
  transform: translateY(5px);
  box-shadow: none;
}
.container .main .option .list .item_thema {
  background-color: palegreen;
  border: 1px solid #53ca0f;
}
.container .main .option .list .selected_thema {
  background-color: #88c088;
}
.container .main .option .list .item_rule {
  background-color: deepskyblue;
  border: 1px solid #0f14ca;
}
.container .main .option .list .selected_rule {
  background-color: #529cb5;
}
.container .main .option .clear_btn {
  font-size: 13px;
  font-weight: bold;
  width: 80px;
}
.container .main .btn_area {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  justify-content: center;
}
.container .main .btn_area .neXt_page_btn {
  width: 200px;
  height: 40px;
  font-size: 18px;
  border: 2px solid #7cc5b7;
  color: #1c51e1;
  cursor: pointer;
  box-shadow: 0px 5px grey;
}
.container .main .btn_area .neXt_page_btn:active {
  transform: translateY(5px);
  box-shadow: none;
}
.container .main .btn_area .neXt_page_btn .neXt_page_link {
  text-decoration: none;
}
.container .main .manual_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.container .main .appear_manual_background {
  opacity: 1;
  visibility: visible;
}
.container .main .manual {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: white;
  width: 80%;
  height: 70%;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s;
}
.container .main .manual .manual_close_btn_area {
  display: flex;
  width: 100%;
  padding: 10px 10px 0 0;
  justify-content: flex-end;
}
.container .main .manual .manual_close_btn_area .manual_close_btn {
  cursor: pointer;
  font-weight: bold;
}
.container .main .manual .manual_title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.container .main .manual .manual_subtitle {
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
}
.container .main .manual .manual_text {
  font-size: 16px;
}
.container .main .appear_manual {
  opacity: 1;
  transform: translate(-50%, -50%);
  visibility: visible;
}/*# sourceMappingURL=menu.css.map */